<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta charset="UTF-8">
        
        <meta name="description" content="Taste wine and many products. Show your skills. Have fun.">
        <meta property="og:title" content="Wine tasting games"/>
        <meta property="og:description" content="First and best blind wine tasting platform."/>
        <meta property="og:url" content="http://www.degustatio.com.br/"/>
        <meta property="og:site_name" content="Degustatio"/>
        <meta property="og:locale" content="en">

        <link rel="icon" type="shortcut icon" href="favicon.ico"/>
        <link href="styles/style.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
        <meta name="theme-color" content="#bc2026"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
        h4 {
            color: white;
        }
         @font-face {
                    font-family: "Sofia W01 Bold1446843";
                    src: url("css/fonts/c2440dd8-b25c-49ba-bc04-8a638a943324.eot?#iefix");
                    src: url("css/fonts/c2440dd8-b25c-49ba-bc04-8a638a943324.eot?#iefix") format("eot"), url("css/fonts/80042803-0630-405f-b2d2-af97b4e50b46.woff2") format("woff2"), url("css/fonts/ec41d681-0313-4b04-88c0-820aebb51f4e.woff") format("woff"), url("css/fonts/81434fc3-e426-4a4c-987d-f25c098198c4.ttf") format("truetype"), url("css/fonts/59fd3475-fba9-4c77-94f9-959fd3925e06.svg#59fd3475-fba9-4c77-94f9-959fd3925e06") format("svg");
                }

                @font-face {
                    font-family: "Sofia W01 Medium1446831";
                    src: url("css/fonts/27070da8-f8ed-4002-8324-4f0dd80f8fa4.eot?#iefix");
                    src: url("css/fonts/27070da8-f8ed-4002-8324-4f0dd80f8fa4.eot?#iefix") format("eot"), url("css/fonts/fe0b48dd-7bb4-4787-913d-eaf613373f35.woff2") format("woff2"), url("css/fonts/d493595c-97d2-4edc-bc9a-c09ad13b4913.woff") format("woff"), url("css/fonts/449bb77f-1bc7-4956-a8f1-3d4ae9243a59.ttf") format("truetype"), url("css/fonts/1332b505-18f0-4aa5-ba55-9be49eba8fb5.svg#1332b505-18f0-4aa5-ba55-9be49eba8fb5") format("svg");
                }
        </style>
        <title>Degustatio</title>
    </head>
    <body>
       <header class="w3-container w3-theme-d5 w3-padding">
            <div class="w3-center w3-animate-bottom">
                  <h4>DEGUSTATIO</h4>           
            </div>
       </header>
        <div class="w3-cointainer w3-padding-large">
        </div>

        <form class="form-group" action="/game" method="POST">
            <div class="w3-padding-large w3-center">
                <input type="text" class="form-control w3-center" name="player_name" id="player_name" placeholder="Player"/>
                <input type="text" class="form-control w3-center" name="room_name" id="room_name" placeholder="Room"/>
                <div class="w3-cointainer w3-padding-large"></div>
                <button class="btn btn-lg w3-btn" type="submit">
                        Let's play!
                </button>
            </div>
        </form>
                   
        <footer class="w3-theme w3-theme-d4 w3-bottom">
            <div id="demo-footer" class="w3-container w3-opacity w3-center">
                <h3>Blind tasting games</h3>
            </div>
        </footer>
    </body>
</html>
