
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/w3.css">
        <link rel="stylesheet" href="styles/w3-theme-red.css">
        <link rel="stylesheet" href="styles/font-awesome.min.css">
        <title>Degustatio Games</title>
    </head>
    <body>
        <header class="w3-container w3-theme-d5 w3-padding">
            <div class="w3-center w3-animate-bottom">
                <h4>DEGUSTATIO WINE GAMES</h4>
            </div>
        </header>
        <div class="w3-container w3-theme-d4">
            <span class="w3-left"><small>Score: <%= game.score %></small></span>
            <span class="w3-right"><small>Round <%= game.round %>/<%= game.room.totalRounds %></small></span>
        </div>

        <div class="w3-cointainer w3-padding-large">
        </div>

        <form class="w3-container" method="POST" action="/bet">

            <div class="w3-select w3-padding-large w3-center">
                
                <select name="country" class="w3-select w3-black">
                  <option value="" disabled selected>Country</option>
                  <option value="U.S.A.">U.S.A.</option>
                  <option value="Brazil">Brazil</option>
                  <option value="Portugal">Portugal</option>
                </select>

                <select name="region" class="w3-select w3-black">
                  <option value="" disabled selected>Region</option>
                  <option value="Douro">Douro</option>
                  <option value="Dão">Dão</option>
                  <option value="Alentejo">Alentejo</option>
                </select>

                <select name="grape" class="w3-select w3-black">
                  <option value="" disabled selected>Grape</option>
                  <option value="Tempranillo">Tempranillo</option>
                  <option value="Nebbiolo">Nebbiolo</option>
                  <option value="Syrah">Syrah</option>
                </select>
            
                <select name="year" class="w3-select w3-black">
                  <option value="" disabled selected>Year</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                </select>

                <div class="w3-container w3-padding w3-center">
                    <input type="submit" class="w3-btn" value="BET!" />
                </div>

            </div>
        </form>

        <section class="w3-container w3-padding-large w3-margin w3-center w3-opacity">
            <table class="w3-table">
            
            </table>
        </section>
        
        <div class="w3-cointainer w3-padding-large w3-margin">
        </div>

        <footer class="w3-theme w3-theme-d4 w3-bottom">
            <div class="w3-container w3-opacity w3-center">
                <h4><%= game.player.name %> at #<%= game.room.name %></h4>
            </div>
        </footer>
    </body>
</html>