
a {
  color: #00B7FF;
}


body {
    font-size: 12px;
    line-height: 1.3;
    font-family: 'Open Sans',sans-serif;
    font-weight: lighter;
    color: #000;
    background-color: #fff;
    position: relative;
    padding: 0;
}

.header {
    background: #bc2026;
    top: 0;
    min-height: 40px;
    position: relative;
    display: block;
}